/.gemtags
/.tags
/tags
/.tags_sorted_by_file
/dump.rdb
/data/attachments/files/000/
/db/schema.rb
/*.sqlite3
*.orig
dump.rdb
.idea/*
db/schema.rb
npm-debug.log
public/meiqia.html
*.sublime-project
*.sublime-workspace
.rbenv-gemsets
/gemset
*.swp
*.log

